<%= content_for :title, "Nouveau Projet" %>


<div class="wrapper">
  <div class="page-header page-header-small">

    <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/header.jpg">
    </div>


    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Poster</h2>
          <h4>All'In lancé en 2019.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="edit ">
    <div class="cotainer-fluid">
      <div class="edit_info">
        <%= image_tag  "ruby-red.png", class: "edit_img", alt: "Your avatar" %>
        <span>Exprimez-Vous</span>
      </div>

      <%= form_for @post, url: { action: 'create_post' } do |f| %>

      <% if @post.errors.any? %>
      <%= render 'partials/mssg', mssg: @post.errors.full_messages[0] %>
      <% end %>

      <div class="eu_div">
        <span class='edit_span'>Titre</span>
        <%= f.text_field :title, class: "e_username", placeholder: 'Titre..', autofocus: true, spellcheck:false, autocomplete: false %>
      </div>
      <div class="eb_div">
        <span class='edit_span'>Contenu</span>
        <%= f.text_area :content, placeholder: "Contenu..", autofocus: true, class: "e_bio", spellcheck:false, autocomplete: false %>
      </div>
      <div class="eb_btns">
        <%= f.submit "Crée Post" %>
      </div>
<br>
<br>
<br>
<br>
<br>
      <% end %>

    </div>
  </div>
</div>